{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}

{% block body %}
<input type="button" onclick="window.location.href='/profile';" value="Back to profile" />
<div class="container">
    <form action="/process-photo" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="form-file" class="form-label">Upload a new profile photo:</label>
            <input class="form-control" type="file" id="form-file" name="form-file">
            <input type="submit">
        </div>
    </form> 
</div>
<text> Location: {{user.location}}</text>
<div id="cities">

</div>

<form action="/process-edit" method="post">
    <text>Name: </text>
    <input type="text" placeholder={{user.fname}}> </input><br>

    <label for="gender">Gender:</label>
    <select name="gender" id="gender" placeholder="{{user.gender}}">
        <option value="Woman">Woman</option>
        <option value="Man">Man</option>
        <option value="Non-Binary">Non-Binary</option>
        <option value="">Other</option>
    </select><br>
    <label for="pronouns">Pronouns:{{user.pronouns}}</label>
    <select name="pronouns" id="pronouns">
        <option value="(She/Her)">She/Her</option>
        <option value="(He/Him)">He/Him</option>
        <option value="(They/Them)">They/Them</option>
        <option value="(She/They)">She/They</option>
        <option value="(He/They)">He/They</option>
        <option value="(He/She/They)">He/She/They</option>
        <option value="">I prefer not to say.</option>
    </select>
    </div>
    <div> Birthday: {{user.birthday}} </div>
    <input type="tel" id="month" name="month" size="3.5" minlength="1" maxlength="2" pattern="[0-9]{2}"
        placeholder="MM" /> /
    <input type="tel" id="day" name="day" size="2.5" minlength="1" maxlength="2" pattern="[0-9]{2}" placeholder="DD" />
    /
    <input type="tel" id="day" name="day" size="4" minlength="4" maxlength="4" pattern="[0-9]{4}"
        placeholder="YYYY" /><br>
    <label for="intro-text">Introduce yourself:</label><br>
    <textarea name="intro-text" id="intro-text" maxlength="200" placeholder="{{user.intro_text}}"></textarea> <br>
    <label for="gender-pref">Looking to throw with: {{user.gender_preference}}</label>
    <select name="gender-pref" id="gender-pref">
        <option value="Women">Women</option>
        <option value="Men">Men</option>
        <option value="All Genders">All Genders</option>
    </select>
    <text> Availability: {{user.calendar}}</text>
    <div>
        <input type="checkbox" name="calendar" value="mornings" id="mornings"></input>
        <label for="mornings"> Early Mornings (Sunrise - 8am) </label><br>
        <input type="checkbox" name="calendar" value="mornings" id="mornings"></input>
        <label for="mornings"> Mornings (8am - 11am) </label><br>
        <input type="checkbox" name="calendar" value="afternoons" id="afternoon"></input>
        <label for="afternoons"> Afternoons (11am - 2pm) </label><br>
        <input type="checkbox" name="calendar" value="late-afternoons" id="late-afternoon"></input>
        <label for="late-afternoons"> Late Afternoons (2pm - 5pm) </label><br>
        <input type="checkbox" name="calendar" value="evenings" id="evenings"></input>
        <label for="evenings"> Evenings (5pm - Sunset) </label><br>
    </div>
    <label for="skill-level">Skill Level: {{user.skill_level}}</label>
    <select name="skill-level" id="skill-level">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
    </select><br>
    <text>Preferred Age Range: {{user.age_range}}</text>
    <div>
        <input type="checkbox" name="age-range" value="18-25" id="18-25"></input>
        <label for="18-25"> 18-25 </label><br>
        <input type="checkbox" name="age-range" value="26-30" id="26-30"></input>
        <label for="26-30"> 26-30</label><br>
        <input type="checkbox" name="age-range" value="31-35" id="31-35"></input>
        <label for="31-35"> 31-35 </label><br>
        <input type="checkbox" name="age-range" value="36-40" id="36-40"></input>
        <label for="36-40"> 36-40 </label><br>
        <input type="checkbox" name="age-range" value="41-50" id="41-50"></input>
        <label for="41-50"> 41-50 </label><br>
        <input type="checkbox" name="age-range" value="51+" id="51+"></input>
        <label for="51+"> 51+ </label><br>
    </div>
    <label for="frequented-courses">Frequented Courses:</label><br>
    <textarea name="frequented-courses" id="frequented-courses" maxlength="200" placeholder="{{user.frequented_courses}}"></textarea> <br>
    <label for="kids-ok">Kids okay?: {{user.kids_okay}}</label>
    <select name="kids-ok" id="kids-ok">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <label for="dogs-ok">Dogs okay?: {{user.dogs_okay}}</label>
    <select name="dogs-ok" id="dogs-ok">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <label for="friendly-stakes">Friendly or Stakes games? {{user.friendly_or_stakes_game}}</label>
    <select name="friendly-stakes" id="friendly-stakes">
        <option value="Friendly game">Friendly</option>
        <option value="Stakes game">Stakes</option>
        <option value="Friendly and Stakes">Friendly AND Stakes</option>
    </select><br>
    <label for="game-type">Game preference: {{user.type_of_game}}</label>
    <select name="game-type" id="game-type">
        <option value="Front 9">Front 9</option>
        <option value="Back 9">Back 9</option>
        <option value="Full Course">Full Course</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <label for="alcohol-ok">Alcohol okay? {{user.alcohol_okay}}</label>
    <select name="alcohol-ok" id="alcohol-ok">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <label for="tobacco-ok">Tobacco okay? {{user.tobacco_okay}}</label>
    <select name="tobacco-ok" id="tobacco-ok">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <label for="smoke-420-ok">420/Marijuana Friendly? {{user.smoke_420_okay}}</label>
    <select name="smoke-420-ok" id="smoke-420-ok">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="No Preference">No Preference</option>
    </select><br>
    <button type="submit"> Submit
    </button>
</form>


<script type="text/jsx" src="/static/jsx/searching.jsx"></script>
<script type="text/jsx">
        ReactDOM.render(
            <LoadCities />,
            document.querySelector('#cities')
        )
    </script>
<script src="/static/js/edit-profile.js"></script>

{% endblock %}