{% extends 'base.html' %}
{% block title %} welcome frolf buds {% endblock %}

{% block body %}
<h1 class="welcome-msg"> welcome bro, frolf much?</h1>
    <div class="middle-ben">
        <div id="ben">
            <img  id="ben-img" class="ben" src="/static/images/bb.png"><br>
            <span class="">Login Here Bro:</span><br><br>
        </div>
            <br>
            <form id="login-form" class="login-form">
                <span> Email:          </span><input type="text" id="email"><br>
                <span> Password: </span><input type="password" id="password"> <br>
                <a href="/login-help" >Forgot username/password?</a>
                <br>
                <input type="submit" value="Let's goooo">
            </form>
        <br>
            <a href="/new-account" >Click here to create an account!</a>
    </div>

        <script src="/static/js/login.js"></script>
{% endblock %}