{% extends 'base.html' %}
{% block title %} Brolfrs {% endblock %}

{% block body %}

    <div id="search-city"> 

    </div>
    <div id="brolfrs" >

    </div>
    
    <script type="text/jsx" src="/static/jsx/profiles.jsx"></script>
    <script type="text/jsx">
        ReactDOM.render(
            <App />,
            document.querySelector('#brolfrs')
        )
        ReactDOM.render(
            <CitySearch />,
            document.querySelector('#search-city')
        )
    </script>

{% endblock %}